name: Test & Build

on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string

jobs:
  build:
    name: Test & Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Set Node.js 22.21.1
        uses: actions/setup-node@v4
        with:
          node-version: 22.21.1

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build
